
@model IEnumerable<Library.Models.Book>


@{
    ViewData["Title"] = "ShowDeleteForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ShowDeleteForm</h1>

<div style="margin-left: 5%; margin-top:1%;">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="~/images/book1.jpg" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Title: @Html.DisplayFor(modelItem => item.Title)</h5>
                        <p class="card-text">Genre: @Html.DisplayFor(modelItem => item.Genre.GenreName)</p>
                        <p class="card-text">Author: @Html.DisplayFor(modelItem => item.Author.AuthorFullName)</p>
                        <a class="btn btn-primary" asp-action="Delete" asp-route-id="@item.BookId">Премахни</a>
                    </div>
                </div>
            </div>
    }
    </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

