@{
    ViewData["Title"] = "Home Page";
}

<div class="text-xl-center">
    <h2>Welcome to Geno's solution to the given task</h2>
    <p>You can find the controls to the application on the Controls tab. You will be required an account to access the page.</p>
 </div>