@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>Geno's Solution to Progress' task</h2>


    <p>I have here the solution to the task you have given me. I am using
     asp.net core for it's solution and I use the code first database approach.
    The solution itself consists of a small crud operations about the "product" as well
     as some modifications from my part. Sincerely, Geno :)</p>
</div>
<div class="text-center">
<a class="btn btn-primary" asp-area="" asp-controller="Products" asp-action="Index" role="button">Products</a>
<a class="btn btn-primary" asp-area="" asp-controller="Products" asp-action="Create" role="button">Add a Product</a>
<a class="btn btn-primary" asp-area="" asp-controller="Products" asp-action="ShowEditForm" role="button">Edit a Product</a>
<a class="btn btn-primary" asp-area="" asp-controller="Products" asp-action="ShowDeleteForm" role="button">Delete a Product</a>
</div>