@model IEnumerable<Library.Models.Genre>

@{
    ViewData["Title"] = "ShowEditForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Промени жанр</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GenreName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GenreName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GenreId">Промени</a> |
                
            </td>
        </tr>
}
    </tbody>
</table>
